<form class="" action="/users/show" method="post">
  <p>This is your new sneaker app! <%= @user.name %></p>

</form>

<p>
  Your sneaker portfolio consists of:<br/><br/><% @user.sneakers.each do |sneaker| %>
    <%= sneaker.name %> which came out in <%= sneaker.year%><br/>
  <% end %>
</p>

<hr><br>

<p>Would you like to add more to your collection?</p>
<!-- set all of the params nested under sneaker -->
  <form class="" action="/users/show" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="sneaker[name]" value=""><br/>
    <label for="year">Year:</label>
    <input type="text" name="sneaker[year]" value=""><br/>
    <input type="hidden" name="sneaker[user_id]" value="<%= @user.id %>">
    <br>
    <input type="submit" value="Create Sneaker">
  </form></br>

<hr><br>

<h4>Wanna edit your sneakers?</h4><br>

<form class="" action="/sneakers/edit" method="POST">

  <select name="sneaker[id]">
    <% @user.sneakers.each do |sneaker| %>
      <option name="<%= sneaker.id %>" value="<%= sneaker.id%>">
        <%= sneaker.name %>
      </option>
    <% end %>
  </select><br>
  <input type="submit" value="Let's go">
</form>

<hr><br/>

<h4>Sold a pair? Let's delete them off your page</h4><br>

<form class="" action="/sneakers/:id" method="Post">
  <input type="hidden" name="_method" value="delete">
  <select name="sneaker[id]">
    <% @user.sneakers.each do |sneaker| %>
      <option name="<%= sneaker.id %>" value="<%= sneaker.id%>">
        <%= sneaker.name %>
      </option>
    <% end %>
  </select><br>
  <input type="submit" value="Let's go">
</form>

<hr><br>
<form class="" action="/logout" method="post">
  <p><a href="/logout">Click me</a> to logout and you'll be
  sent to the main login once again! Thank you for visiting!</p>
</form>
